.resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  .info {
    display: flex;
    justify-content: center;
  }

  .social-links {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid gray;
    
    .link {
      text-decoration: none;
      color: black;
      font-size: 16px;
      margin-bottom: 10px;

      &:hover {
        color: blue;
      }
    }

  }
}
